<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- google font -->
<link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
<!-- material icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; } /* Default */
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
</style>

<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>

<!-- Latest compiled and minified CSS 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
-->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


{% csrf_token %}


</head>

<body>



{% if user and not user.is_anonymous %}
<!--div class="w3-containner w3-row parentheaderTemp w3-card-2  w3-white resizesmall">
	
	{% load staticfiles %}
	<div class="w3-row tempLogo">
		<img src="{% static "logomod.png" %}" alt="lioalogo" width="110" height="30">
	</div>
	<div class="w3-col temp_myheader w3-white resizesmall">
		<div class=" w3-large w3-btn w3-white">Home</div>
		<div class=" w3-large w3-btn w3-white btnlist">List</div>
		<div class=" w3-large w3-btn w3-white">{{user.get_full_name}}</div>
	</div>
</div>

<div hidden>
	<p id="gemail">{{user.email}}</p>
	<p id="gname">{{user.get_full_name}}</p>
</div-->




<div class="w3-row login-main-container">

	<div class="w3-col m6" id="containcr4R">
		<!-- nav bar haha -->
		<div class="w3-containner w3-row parentheaderTemp_Login w3-card-2  w3-white resizesmall">
			
			{% load staticfiles %}
			<div class="w3-row tempLogo">
				<img src="{% static "logomod.png" %}" alt="lioalogo" width="110" height="30">
			</div>
			<div class="w3-col temp_myheader_Login w3-white w3-border-top resizesmall">
				<div class=" w3-large w3-btn w3-white home-btn">Home</div>
				<div class=" w3-large w3-btn w3-white btnlist list-btn">List</div>
				<div class=" w3-large w3-btn w3-white user-btn">{{user.get_full_name}}</div>
			</div>
		</div>

		<div hidden>
			<p id="gemail">{{user.email}}</p>
			<p id="gname">{{user.get_full_name}}</p>
		</div>


		<!-- control bar -->
		<div class="w3-row l3 m10 s10 w3-card-2 w3-white w3-margin-top" id="cr4short">
			<div class="w3-col w3-text-red s2 w3-border-right w3-xxlarge" id="ctrlbar_machine_name">
				{{default_machine}}
			</div>
			
			<div class="w3-col s4 w3-center">
				<div class="w3-row s3 w3-xlarge"> <input type="text" value={{time.year}}  id="ctrlbar_year"> </div>
				<div class="w3-row s3 w3-xlarge"> <input type="text" value={{time.month}} id="ctrlbar_month"> </div>
			</div>


			<div class="w3-col s2 w3-center w3-xlarge">
				<div class="w3-row s2"> 
					<button class="w3-btn w3-white material-icons w3-round-jumbo" id="ctrlbar_next">keyboard_arrow_right</button> </div>
				<div class="w3-row s2"> 
					<button class="w3-btn w3-white material-icons w3-round-jumbo" id="ctrlbar_prev">update</button> </div>
			</div>


		</div>
		
		<div class="w3-row l3 m10 s10 w3-card-2 w3-white" id="cr4-enlarge">
			<!-- control bar move here >
			<div class="w3-contain w3-row w3-border-bottom">
				<div class="w3-col w3-text-red s2 w3-border-right w3-xxlarge" id="ctrlbar_machine_name">
					{{default_machine}}
				</div>
				
				<div class="w3-col s4 w3-center">
					<div class="w3-row s3 w3-xlarge"> <input type="text" value={{time.year}}  id="ctrlbar_year"> </div>
					<div class="w3-row s3 w3-xlarge"> <input type="text" value={{time.month}} id="ctrlbar_month"> </div>
				</div>


				<div class="w3-col s2 w3-center w3-xlarge">
					<div class="w3-row s2"> 
						<button class="w3-btn w3-white material-icons w3-round-jumbo" id="ctrlbar_next">keyboard_arrow_right</button> </div>
					<div class="w3-row s2"> 
						<button class="w3-btn w3-white material-icons w3-round-jumbo" id="ctrlbar_prev">update</button> </div>
				</div>
			</div-->


			<!-- k4 bao tri + counter -->
			<div class="w3-containner w3-row">
				<div class="w3-col">
					<div class="w3-containner w3-center" id="briefbar">PRODUCT</div>
				</div>
			</div>
			<div class="w3-row">
				<div class="w3-containner w3-center">
					<canvas id="myChart" width="460" height="260"></canvas>	
				</div>
			</div>

			<!-- insert to here -->
			<div class="w3-col s12">
				<div class="w3-containner w3-center" id="briefbar"> ENERGY</div>
			</div>


			<div class="w3-containner w3-center">
				<canvas id="myChartE2" width="460" height="260"></canvas>
			</div>
				
		</div>

		

	</div>

	<!-- generated code for machine here-->
	<div class="w3-col m6" id="containcr4">
		{%for machine in machines %}
	<div class="w3-col l3 m10 s10 w3-card-2 w3-white" id="cr-brief">
		<div class="w3-row">
			<div class="w3-col s3 " id="cr-brief-label">
				{{machine.machine_name}}
			</div>
			<div class="w3-col s9">
				
				<div class="w3-row w3-red" id="cr-brief-label-maintain">
				
					{%for maintain in maintains%}
					{%if machine.machine_name == maintain.machine.machine_name%}
					<div class="w3-col s4 w3-center">
						{{maintain.maintain_type}}
						
					</div>
					{%endif%}
					{%endfor%}
				</div>
				<div class="w3-row">
					{%for maintain in maintains%}
						{%if machine.machine_name == maintain.machine.machine_name%}
							<div class="w3-col s4 w3-large w3-center">
						{{maintain.maintain_time_remain}}
							</div>
						{%endif%}
					{%endfor%}
				</div>
				<div class="w3-row maintainchoices">
					{%for maintain in maintains%}
					{%if machine.machine_name == maintain.machine.machine_name%}
					<div class="w3-col s4 w3-center">
						<input type="radio" name={{machine.machine_name}} value={{maintain.maintain_type}} 
						                       {%if maintain.maintain_time_remain >= 10 %}disabled{%endif%} >
					</div>
					{%endif%}
					{%endfor%}	
				</div>

			</div>
		</div>
	</div>
	{%endfor%}


	<div class="modal fade" id="myModal" role="dialog">
	    <div class="modal-dialog modal-sm">
	    
	      <!-- Modal content-->
	      <div class="modal-content w3-center">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h6 class="modal-title">Enter comment</h6>
	        </div>
	        <div class="modal-body">
				<div class="form-group">
      				<input type="text" class="form-control" id="usr">
				</div>
	          <button type="button" class="w3-btn w3-red w3-round-xlarge" id="modalMaintainBtn" >maintain</button>
	      </div>
	      
	    </div>
	</div>



	</div>
	
	</div>
	








{% else %}
  <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
{% endif %}

{% load staticfiles %}

<link rel="stylesheet" href="{% static      'bootstrap.min.css' %}">
<!--script src="{% static "jquery-1.11.3.js" %}" type="text/javascript"></script-->
<!--script src="{% static "Moment.js"    %" type="text/javascript"></script>
<script src="{% static "Chart.min.js" %}" type="text/javascript"></script-->

<script src="{% static "progressbar.js" %}" type="text/javascript"></script>
<script src="{% static "main.js" %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static      'w3.css' %}">
<link rel="stylesheet" href="{% static 'mystyle.css' %}">



</body>
</html>



